In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(columns=['uno','dos','tres'])
df2 = pd.DataFrame(columns=['uno','dos','tres'])

In [3]:
df1['uno'] = np.linspace(0,100,num=101)
df1['dos'] = np.zeros(len(df1))
df1['tres'] = np.zeros(len(df1))

df2['uno'] = np.linspace(101,200,num=100)
df2['dos'] = np.zeros(len(df2))
df2['tres'] = np.zeros(len(df2))

In [4]:
df1.to_csv('df.csv',index=False)
df1.to_csv('df1.csv')
df2.to_csv('df.csv',mode='a',index=False,header=False)
no = pd.read_csv('df.csv')
display(no)

       uno  dos  tres
0      0.0  0.0   0.0
1      1.0  0.0   0.0
2      2.0  0.0   0.0
3      3.0  0.0   0.0
4      4.0  0.0   0.0
..     ...  ...   ...
196  196.0  0.0   0.0
197  197.0  0.0   0.0
198  198.0  0.0   0.0
199  199.0  0.0   0.0
200  200.0  0.0   0.0

[201 rows x 3 columns]

In [10]:
delay_number = 4
no = 51
no_chunks = 6


df_start = pd.DataFrame(columns=['uno','dos','tres'])
df_start['uno'] = np.linspace(0,no-1,num=no)
df_start['dos'] = np.zeros(no)
df_start['tres'] = np.zeros(no)
# display(df_start)

no = no
chunk_size = round(no/no_chunks)

start_chunk = 0
end_chunk = chunk_size - 1
chunk_index = 0

df_cont = df_start
delays = {}
#For range you have to go one higher

for i in range(no):
    if i >=delay_number:
        delays[i] = df_cont.at[i-delay_number,'uno']
        
        
    if i == end_chunk:
        print('chunk no: ',no_chunks)
        print('start: ',start_chunk)
        print('end: ',end_chunk)
        
        df_saving = df_cont.loc[start_chunk:end_chunk,:]
        print(df_saving)
        
        if chunk_index == 0: #keep header
            df_saving.to_csv('full_save.csv',index=False)
        else:
            df_saving.to_csv('full_save.csv',index=False,header=False,mode='a')
            
        if i == no-1 :
            print('End of loop and saved.')
        else:

            df_cont = df_cont.drop(np.arange(df_cont.first_valid_index(),end_chunk-delay_number+1,1).tolist())
            print(df_cont)
            start_chunk = end_chunk+1
            attempt = start_chunk+chunk_size-1
            if attempt >= no:
                end_chunk = no-1
            else:
                end_chunk = start_chunk+chunk_size-1
                
            chunk_index += 1

chunk no:  6
start:  0
end:  7
   uno  dos  tres
0  0.0  0.0   0.0
1  1.0  0.0   0.0
2  2.0  0.0   0.0
3  3.0  0.0   0.0
4  4.0  0.0   0.0
5  5.0  0.0   0.0
6  6.0  0.0   0.0
7  7.0  0.0   0.0
     uno  dos  tres
4    4.0  0.0   0.0
5    5.0  0.0   0.0
6    6.0  0.0   0.0
7    7.0  0.0   0.0
8    8.0  0.0   0.0
9    9.0  0.0   0.0
10  10.0  0.0   0.0
11  11.0  0.0   0.0
12  12.0  0.0   0.0
13  13.0  0.0   0.0
14  14.0  0.0   0.0
15  15.0  0.0   0.0
16  16.0  0.0   0.0
17  17.0  0.0   0.0
18  18.0  0.0   0.0
19  19.0  0.0   0.0
20  20.0  0.0   0.0
21  21.0  0.0   0.0
22  22.0  0.0   0.0
23  23.0  0.0   0.0
24  24.0  0.0   0.0
25  25.0  0.0   0.0
26  26.0  0.0   0.0
27  27.0  0.0   0.0
28  28.0  0.0   0.0
29  29.0  0.0   0.0
30  30.0  0.0   0.0
31  31.0  0.0   0.0
32  32.0  0.0   0.0
33  33.0  0.0   0.0
34  34.0  0.0   0.0
35  35.0  0.0   0.0
36  36.0  0.0   0.0
37  37.0  0.0   0.0
38  38.0  0.0   0.0
39  39.0  0.0   0.0
40  40.0  0.0   0.0
41  41.0  0.0   0.0
42  42.0  0.0   0.0
43  43.0  0.0   0.0
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
chunk no:  6
start:  8
end:  15
     uno  dos  tres
8    8.0  0.0   0.0
9    9.0  0.0   0.0
10  10.0  0.0   0.0
11  11.0  0.0   0.0
12  12.0  0.0   0.0
13  13.0  0.0   0.0
14  14.0  0.0   0.0
15  15.0  0.0   0.0
     uno  dos  tres
12  12.0  0.0   0.0
13  13.0  0.0   0.0
14  14.0  0.0   0.0
15  15.0  0.0   0.0
16  16.0  0.0   0.0
17  17.0  0.0   0.0
18  18.0  0.0   0.0
19  19.0  0.0   0.0
20  20.0  0.0   0.0
21  21.0  0.0   0.0
22  22.0  0.0   0.0
23  23.0  0.0   0.0
24  24.0  0.0   0.0
25  25.0  0.0   0.0
26  26.0  0.0   0.0
27  27.0  0.0   0.0
28  28.0  0.0   0.0
29  29.0  0.0   0.0
30  30.0  0.0   0.0
31  31.0  0.0   0.0
32  32.0  0.0   0.0
33  33.0  0.0   0.0
34  34.0  0.0   0.0
35  35.0  0.0   0.0
36  36.0  0.0   0.0
37  37.0  0.0   0.0
38  38.0  0.0   0.0
39  39.0  0.0   0.0
40  40.0  0.0   0.0
41  41.0  0.0   0.0
42  42.0  0.0   0.0
43  43.0  0.0   0.0
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
chunk no:  6
start:  16
end:  23
     uno  dos  tres
16  16.0  0.0   0.0
17  17.0  0.0   0.0
18  18.0  0.0   0.0
19  19.0  0.0   0.0
20  20.0  0.0   0.0
21  21.0  0.0   0.0
22  22.0  0.0   0.0
23  23.0  0.0   0.0
     uno  dos  tres
20  20.0  0.0   0.0
21  21.0  0.0   0.0
22  22.0  0.0   0.0
23  23.0  0.0   0.0
24  24.0  0.0   0.0
25  25.0  0.0   0.0
26  26.0  0.0   0.0
27  27.0  0.0   0.0
28  28.0  0.0   0.0
29  29.0  0.0   0.0
30  30.0  0.0   0.0
31  31.0  0.0   0.0
32  32.0  0.0   0.0
33  33.0  0.0   0.0
34  34.0  0.0   0.0
35  35.0  0.0   0.0
36  36.0  0.0   0.0
37  37.0  0.0   0.0
38  38.0  0.0   0.0
39  39.0  0.0   0.0
40  40.0  0.0   0.0
41  41.0  0.0   0.0
42  42.0  0.0   0.0
43  43.0  0.0   0.0
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
chunk no:  6
start:  24
end:  31
     uno  dos  tres
24  24.0  0.0   0.0
25  25.0  0.0   0.0
26  26.0  0.0   0.0
27  27.0  0.0   0.0
28  28.0  0.0   0.0
29  29.0  0.0   0.0
30  30.0  0.0   0.0
31  31.0  0.0   0.0
     uno  dos  tres
28  28.0  0.0   0.0
29  29.0  0.0   0.0
30  30.0  0.0   0.0
31  31.0  0.0   0.0
32  32.0  0.0   0.0
33  33.0  0.0   0.0
34  34.0  0.0   0.0
35  35.0  0.0   0.0
36  36.0  0.0   0.0
37  37.0  0.0   0.0
38  38.0  0.0   0.0
39  39.0  0.0   0.0
40  40.0  0.0   0.0
41  41.0  0.0   0.0
42  42.0  0.0   0.0
43  43.0  0.0   0.0
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
chunk no:  6
start:  32
end:  39
     uno  dos  tres
32  32.0  0.0   0.0
33  33.0  0.0   0.0
34  34.0  0.0   0.0
35  35.0  0.0   0.0
36  36.0  0.0   0.0
37  37.0  0.0   0.0
38  38.0  0.0   0.0
39  39.0  0.0   0.0
     uno  dos  tres
36  36.0  0.0   0.0
37  37.0  0.0   0.0
38  38.0  0.0   0.0
39  39.0  0.0   0.0
40  40.0  0.0   0.0
41  41.0  0.0   0.0
42  42.0  0.0   0.0
43  43.0  0.0   0.0
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
chunk no:  6
start:  40
end:  47
     uno  dos  tres
40  40.0  0.0   0.0
41  41.0  0.0   0.0
42  42.0  0.0   0.0
43  43.0  0.0   0.0
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
     uno  dos  tres
44  44.0  0.0   0.0
45  45.0  0.0   0.0
46  46.0  0.0   0.0
47  47.0  0.0   0.0
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
chunk no:  6
start:  48
end:  50
     uno  dos  tres
48  48.0  0.0   0.0
49  49.0  0.0   0.0
50  50.0  0.0   0.0
End of loop and saved.

if i / end_chunk. The minimum value we can use as < is basically the 1 - (chunk_size-1)/chunk_size = 1/chunk_size = e-4 for e4