In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [4]:
###Set constants and parameters

##input params
H = 0.42 #no units,ratio #Hematocrit assumed to be constant
M = 30* 10e-9 #mol_ O2/(mL/s) #Taken from table 2 from Wiley Payne paper
cHb = 0.2 #mL_O2/m #Taken from table 2 from Wiley Payne paper
paO2_bar_t = 15 #mmHG #Taken from table 2 from Wiley Payne paper
K = 5*10e-8

##SI them
#M = M*10e3
#cHb = cHb*10e-3
#paO2_bar_t = paO2_bar_t*133.322

###Set up input data

##reset df
df = None

##Input data
#all data taken from Payne article
df = pd.DataFrame({'Name': ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'C', 'V6', 'V5', 'V4', 'V3', 'V2', 'V1'], 
                   'Number': [1, 2, 4, 8, 16, 32, 64, 32, 16, 8, 4, 2, 1],
                   'Diameter(µm)': [23.97, 19.17, 15.28, 12.08, 9.46, 7.32, 8, 11.51, 14.53, 17.79, 21.45, 25.70, 30.77],
                   'Length(µm)': [1267.6, 930.3, 543.6, 302.3, 161.2, 154.7, 243.9, 473.9, 272.3, 426.6, 632.5, 844.2, 936.3],
                   'Viscocity(mPAs)': [1.59, 1.50, 1.42, 1.34, 1.28, 1.23, 1.24, 1.33, 1.40, 1.48, 1.55, 1.62, 1.7],
                   'Pressure Drop(mmHg)': [6.93, 5.87, 4.02, 2.70, 1.82, 2.35, 2.62, 1.27, 0.61, 0.89, 1.31, 1.78, 2.01],
                   'Saturation': [0.94, 0.93, 0.92, 0.89, 0.84, 0.765, 0.665, 0.61, 0.5975, 0.5875, 0.5825, 0.5775, 0.5725]
                  })

##change units
#df['Diameter(µm)'] = df['Diameter(µm)']*1e-6
#df['Length(µm)'] = df['Length(µm)']*1e-6
#df['Viscocity(mPAs)'] = df['Viscocity(mPAs)']*1e-3
#df['Pressure Drop(mmHg)'] = df['Pressure Drop(mmHg)']*133.322
##rename the titles for the units
#df = df.rename(columns={'Diameter(µm)':'Diameter(m)', 'Length(µm)':'Length(m)', 'Viscocity(mPAs)':'Viscocity(PAs)', 'Pressure Drop(mmHg)':'Pressure Drop(Pa)'})

###Calculate Flows

##Calculate resitances of each single vessel for each type
df['Resistance for U'] = 32 * df['Viscocity(mPAs)'] * df['Length(µm)'].div(df['Diameter(µm)']**2)
df['Resistance for Q'] = 128 * df['Viscocity(mPAs)'] * df['Length(µm)'].div(math.pi*(df['Diameter(µm)']**4))

##Alter resistances for C
#These are aross each pressure drop (explains the doubled resistance for the capillaries as in paralell so have half the flow each (flow is shared))
df.loc[df.index[df['Name'] == 'C'][0],'Resistance for U'] = df.loc[df.index[df['Name'] == 'C'][0],'Resistance for U']*2
df.loc[df.index[df['Name'] == 'C'][0],'Resistance for Q'] = df.loc[df.index[df['Name'] == 'C'][0],'Resistance for Q']*2

##Calculate flow in a single vessel
df['U in single(m/s????)'] = df['Pressure Drop(mmHg)'].div(df['Resistance for U'])
df['Q in single(m^3/s????)'] = df['Pressure Drop(mmHg)'].div(df['Resistance for Q'])

########temp calculate the saturations - CANT GET TO WORK
#df['Vt'] = np.zeros(13)
#S_temp = pd.DataFrame({'Saturation': np.zeros(13)})
#S_temp['Saturation'][0] = 0.94
#df = pd.concat([df,S_temp], axis=1)

#df.loc[0,'Vt'] = df.loc[0,'Q in single(m^3/s)']*cHb*H*df.loc[0,'Saturation']/M
#for i in range(12):
    #df.loc[i+1,'Saturation'] = df.loc[i,'Saturation'] - ( 2*M*df.loc[i+1,'Vt'] ) / ( cHb*H*( df.loc[i,'Q in single(m^3/s)'] + df.loc[i+1,'Q in single(m^3/s)'] ) )
    #df.loc[i+1,'Saturation'] = ( M*df.loc[i+1,'Vt'] ) / ( cHb*H*( df.loc[i,'Q in single(m^3/s)'] + df.loc[i+1,'Q in single(m^3/s)'] ) )
    #df.loc[i+1,'Vt'] = df.loc[i+1,'Q in single(m^3/s)']*cHb*H*df.loc[i+1,'Saturation']/M
    
###Next stage

##Calculate Vt
#Check what Vt is calculated in units and add to name 
df['Vt'] = df['Q in single(m^3/s????)']*cHb*H*df['Saturation']/M
#This will remain fixed.


##S and partial O2 relationship given by servinghaus 1979
def check_imag_roots_real(all_roots):
    counter = 0
    sols = 0
    for i in range(len(all_roots)):
        if all_roots[i].imag <= 10e-13 and all_roots[i].imag >= -10e-13:
            sols = all_roots[i].real
            counter += 1
    if counter != 1:
        print('Something seems wrong with the partial presure to Saturation cubic solver as not one solution is returned.')
    return sols
 
for i in range(len(df['Saturation'])):
    root_temp = None
    sols = 0
    root_temp = np.roots([1,0,150,23400*df.loc[i,'Saturation']/(df.loc[i,'Saturation']-1)]) #gives mmHg , *133.322
    sols = check_imag_roots_real(root_temp) 
    #sols = sols*133.322 ###Remove this step if want in mmHg
    df.loc[i,'partial pressure blood(mmHg)'] = sols
#Checked partial pressure against typical values online and it seems bang on.

###Now calculate the partial pressure of O2 in tissue
#Will take my vessel average partial pressure to be the 0.5(pin + pout)
#need h
#all units were in mm so i played around with this equation from the paper
df['X-Area wall(mm^2?)'] = np.pi * ( 0.16*(df['Diameter(µm)'])**2 + 1.4*(df['Diameter(µm)']) + 14 )
df['wall thickness(µm)'] = ( -(df['Diameter(µm)']) + np.sqrt((df['Diameter(µm)'])**2 + (4*(df['X-Area wall(mm^2?)'])/np.pi)) ) / 2

df['tissue partials(mmHg)'] = df['partial pressure blood(mmHg)'] - M * df['Vt'] * df['wall thickness(µm)'] / (2 * np.pi * K * (df['Diameter(µm)']/2) * df['Length(µm)'])

In [6]:
df

,Name,Number,Diameter(µm),Length(µm),Viscocity(mPAs),Pressure Drop(mmHg),Saturation,Resistance for U,Resistance for Q,U in single(m/s????),Q in single(m^3/s????),Vt,partial pressure blood(mmHg),X-Area wall(mm^2?),wall thickness(µm),tissue partials(mmHg)
0,A1,1,23.97,1267.6,1.59,6.93,0.9400,112.251787,0.248752,0.061736,27.859025,7.332495e+06,70.871373,438.213672,4.841407,-152.267123
1,A2,2,19.17,930.3,1.50,5.87,0.9300,121.512242,0.421004,0.048308,13.942870,3.630723e+06,67.005340,313.016429,4.253658,-98.385688
2,A3,4,15.28,543.6,1.42,4.02,0.9200,105.796442,0.576945,0.037997,6.967734,1.794888e+06,63.786724,228.546291,3.810683,-93.480728
3,A4,8,12.08,302.3,1.34,2.70,0.8900,88.829876,0.775060,0.030395,3.483601,8.681135e+05,56.550348,170.463521,3.485850,-101.713429
4,A5,16,9.46,161.2,1.28,1.82,0.8400,73.780690,1.049713,0.024668,1.733807,4.077915e+05,48.706014,130.572935,3.265971,-118.093855
5,A6,32,7.32,154.7,1.23,2.35,0.7650,113.637911,2.700295,0.020680,0.870275,1.864130e+05,41.211431,103.110791,3.138293,-57.455033
6,C,64,8.00,243.9,1.24,2.62,0.6650,302.436000,6.016773,0.008663,0.435449,8.108067e+04,34.556920,111.338044,3.172168,9.381706
7,V6,32,11.51,473.9,1.33,1.27,0.6100,152.243122,1.463178,0.008342,0.867974,1.482499e+05,31.696836,161.197683,3.433626,13.873593
8,V5,16,14.53,272.3,1.40,0.61,0.5975,57.782247,0.348476,0.010557,1.750477,2.928549e+05,31.097186,214.009514,3.730525,-21.639220
9,V4,8,17.79,426.6,1.48,0.89,0.5875,63.838202,0.256826,0.013941,3.465382,5.700554e+05,30.628584,281.309064,4.092089,-28.075280
10,V3,4,21.45,632.5,1.55,1.31,0.5825,68.184807,0.188688,0.019212,6.942696,1.132354e+06,30.397755,369.597066,4.528591,-41.789200
11,V2,2,25.70,844.2,1.62,1.78,0.5775,66.258881,0.127729,0.026864,13.935804,2.253420e+06,30.169135,489.015286,5.060357,-70.210624
12,V1,1,30.77,936.3,1.70,2.01,0.5725,53.797108,0.072346,0.037363,27.783183,4.453644e+06,29.942648,655.225845,5.716258,-138.823836

In [5]:
df_base = df
df_base
df_base.sum()
df_base

,Name,Number,Diameter(µm),Length(µm),Viscocity(mPAs),Pressure Drop(mmHg),Saturation,Resistance for U,Resistance for Q,U in single(m/s????),Q in single(m^3/s????),Vt,partial pressure blood(mmHg),X-Area wall(mm^2?),wall thickness(µm),tissue partials(mmHg)
0,A1,1,23.97,1267.6,1.59,6.93,0.9400,112.251787,0.248752,0.061736,27.859025,7.332495e+06,70.871373,438.213672,4.841407,-152.267123
1,A2,2,19.17,930.3,1.50,5.87,0.9300,121.512242,0.421004,0.048308,13.942870,3.630723e+06,67.005340,313.016429,4.253658,-98.385688
2,A3,4,15.28,543.6,1.42,4.02,0.9200,105.796442,0.576945,0.037997,6.967734,1.794888e+06,63.786724,228.546291,3.810683,-93.480728
3,A4,8,12.08,302.3,1.34,2.70,0.8900,88.829876,0.775060,0.030395,3.483601,8.681135e+05,56.550348,170.463521,3.485850,-101.713429
4,A5,16,9.46,161.2,1.28,1.82,0.8400,73.780690,1.049713,0.024668,1.733807,4.077915e+05,48.706014,130.572935,3.265971,-118.093855
5,A6,32,7.32,154.7,1.23,2.35,0.7650,113.637911,2.700295,0.020680,0.870275,1.864130e+05,41.211431,103.110791,3.138293,-57.455033
6,C,64,8.00,243.9,1.24,2.62,0.6650,302.436000,6.016773,0.008663,0.435449,8.108067e+04,34.556920,111.338044,3.172168,9.381706
7,V6,32,11.51,473.9,1.33,1.27,0.6100,152.243122,1.463178,0.008342,0.867974,1.482499e+05,31.696836,161.197683,3.433626,13.873593
8,V5,16,14.53,272.3,1.40,0.61,0.5975,57.782247,0.348476,0.010557,1.750477,2.928549e+05,31.097186,214.009514,3.730525,-21.639220
9,V4,8,17.79,426.6,1.48,0.89,0.5875,63.838202,0.256826,0.013941,3.465382,5.700554e+05,30.628584,281.309064,4.092089,-28.075280
10,V3,4,21.45,632.5,1.55,1.31,0.5825,68.184807,0.188688,0.019212,6.942696,1.132354e+06,30.397755,369.597066,4.528591,-41.789200
11,V2,2,25.70,844.2,1.62,1.78,0.5775,66.258881,0.127729,0.026864,13.935804,2.253420e+06,30.169135,489.015286,5.060357,-70.210624
12,V1,1,30.77,936.3,1.70,2.01,0.5725,53.797108,0.072346,0.037363,27.783183,4.453644e+06,29.942648,655.225845,5.716258,-138.823836

### Changing the inputs

Above is the normal model. Now i will take whatever parts are useful and run again for my new pressure drops.

In [39]:
df_base_useful = df[['Name',
        'Resistance for Q',  'Vt']]
df_base_useful

   Name  Resistance for Q            Vt
0    A1          0.248752  7.332495e+06
1    A2          0.421004  3.630723e+06
2    A3          0.576945  1.794888e+06
3    A4          0.775060  8.681135e+05
4    A5          1.049713  4.077915e+05
5    A6          2.700295  1.864130e+05
6     C          6.016773  8.108067e+04
7    V6          1.463178  1.482499e+05
8    V5          0.348476  2.928549e+05
9    V4          0.256826  5.700554e+05
10   V3          0.188688  1.132354e+06
11   V2          0.127729  2.253420e+06
12   V1          0.072346  4.453644e+06

In [40]:
no_steps = 100
#for i in range(no_steps):

C = df_base_useful.loc[6,'Resistance for Q']/2
C_6 = (C + df_base_useful.loc[5,'Resistance for Q'] + df_base_useful.loc[7,'Resistance for Q'])/2
C_65 = (C_6 + df_base_useful.loc[4,'Resistance for Q'] + df_base_useful.loc[8,'Resistance for Q'])/2
C_654 = (C_65 + df_base_useful.loc[3,'Resistance for Q'] + df_base_useful.loc[9,'Resistance for Q'])/2
C_6543 = (C_654 + df_base_useful.loc[2,'Resistance for Q'] + df_base_useful.loc[10,'Resistance for Q'])/2
C_65432 = (C_6543 + df_base_useful.loc[1,'Resistance for Q'] + df_base_useful.loc[11,'Resistance for Q'])/2
C_654321 = C_65432 + df_base_useful.loc[0,'Resistance for Q'] + df_base_useful.loc[12,'Resistance for Q']
R_total = C_654321

display(C)
display(C_6)
display(C_65)
display(C_654321)
Q_total = 34.18 / C_654321
Q_total

3.0083865230587787

3.5859296991260283

2.492059506780653

1.227365792577747

27.848258609370426

In [41]:
pressure_out = 60 - 34.18
main = pd.DataFrame({'Pressure in(mmHg)': np.linspace((60-34.18/2),(60+34.18/2), num=no_steps), 'Pressure out(mmHg)': np.zeros(no_steps) + pressure_out})
main['pressure drop (mmHg)'] = main['Pressure in(mmHg)'] - main['Pressure out(mmHg)']
main['Total Flow'] = main['pressure drop (mmHg)']/R_total

def fucntion():
    C = pd.DataFrame({'Flow': main['Total Flow'] / df.loc[6,'Number']})
    
    return vessel

#Do for C first
C = pd.DataFrame({'Flow': main['Total Flow'] / df.loc[6,'Number']})
C['dS'] = df.loc[6,'Vt'] * M / (cHb * H * C['Flow'])

In [42]:
main

    Pressure in(mmHg)  Pressure out(mmHg)  pressure drop (mmHg)  Total Flow
0           42.910000               25.82             17.090000   13.924129
1           43.255253               25.82             17.435253   14.205425
2           43.600505               25.82             17.780505   14.486720
3           43.945758               25.82             18.125758   14.768016
4           44.291010               25.82             18.471010   15.049311
..                ...                 ...                   ...         ...
95          75.708990               25.82             49.888990   40.647206
96          76.054242               25.82             50.234242   40.928501
97          76.399495               25.82             50.579495   41.209797
98          76.744747               25.82             50.924747   41.491092
99          77.090000               25.82             51.270000   41.772388

[100 rows x 4 columns]

In [43]:
C

        Flow        dS
0   0.217565  1.330979
1   0.221960  1.304623
2   0.226355  1.279291
3   0.230750  1.254923
4   0.235145  1.231467
..       ...       ...
95  0.635113  0.455941
96  0.639508  0.452807
97  0.643903  0.449716
98  0.648298  0.446668
99  0.652694  0.443660

[100 rows x 2 columns]