# Chaning total Pressure and analysing blood flow in each vessel

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

## Baseline Conditions

#### For Attention List:
1. Need to go through and check the units work properly. Note that the values didnt change when I removed units so seems okay
2. Check units on flows
3. Check units on Vt
4. Add units to to all columns and decide upon my convention for this
5. Check units and speak to Payne about the wall thickness calcs
6. Is velocity redundant?

#### Set Constants and paramaters

In [3]:
#input params
H = 0.42 #no units,ratio #Hematocrit assumed to be constant
M = 30* 10e-9 #mol_ O2/(mL/s) #Taken from table 2 from Wiley Payne paper
cHb = 0.2 #mL_O2/m #Taken from table 2 from Wiley Payne paper
paO2_bar_t = 15 #mmHG #Taken from table 2 from Wiley Payne paper
K = 5*10e-8

##reset df
df = None

#Input data from paper
df = pd.DataFrame({'Name': ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'C', 'V6', 'V5', 'V4', 'V3', 'V2', 'V1'], 
                   'Number': [1, 2, 4, 8, 16, 32, 64, 32, 16, 8, 4, 2, 1],
                   'Diameter(µm)': [23.97, 19.17, 15.28, 12.08, 9.46, 7.32, 8, 11.51, 14.53, 17.79, 21.45, 25.70, 30.77],
                   'Length(µm)': [1267.6, 930.3, 543.6, 302.3, 161.2, 154.7, 243.9, 473.9, 272.3, 426.6, 632.5, 844.2, 936.3],
                   'Viscocity(mPAs)': [1.59, 1.50, 1.42, 1.34, 1.28, 1.23, 1.24, 1.33, 1.40, 1.48, 1.55, 1.62, 1.7],
                   'Pressure Drop(mmHg)': [6.93, 5.87, 4.02, 2.70, 1.82, 2.35, 2.62, 1.27, 0.61, 0.89, 1.31, 1.78, 2.01],
                   'Saturation': [0.94, 0.93, 0.92, 0.89, 0.84, 0.765, 0.665, 0.61, 0.5975, 0.5875, 0.5825, 0.5775, 0.5725]
                  })

#### Calculate Flows and Vt

In [4]:
#Calculate resistances of each vessel
df['Resistance for U'] = 32 * df['Viscocity(mPAs)'] * df['Length(µm)'].div(df['Diameter(µm)']**2)
df['Resistance for Q'] = 128 * df['Viscocity(mPAs)'] * df['Length(µm)'].div(math.pi*(df['Diameter(µm)']**4))

#Alter resistances for C
#These are aross each pressure drop (explains the doubled resistance for the capillaries as in paralell so have half the flow each (flow is shared))
df.loc[df.index[df['Name'] == 'C'][0],'Resistance for U'] = df.loc[df.index[df['Name'] == 'C'][0],'Resistance for U']*2
df.loc[df.index[df['Name'] == 'C'][0],'Resistance for Q'] = df.loc[df.index[df['Name'] == 'C'][0],'Resistance for Q']*2

#Calculate flow and velocity in a single vessel
df['U in single(m/s????)'] = df['Pressure Drop(mmHg)'].div(df['Resistance for U'])
df['Q in single(m^3/s????)'] = df['Pressure Drop(mmHg)'].div(df['Resistance for Q'])

#Calculate Vt
df['Vt'] = df['Q in single(m^3/s????)']*cHb*H*df['Saturation']/M

#### Calculate partial pressure in blood
S and partial O2 relationship given by servinghaus 1979  
Checked partial pressure against typical values online and it seems bang on.

In [5]:
def check_imag_roots_real(all_roots):
    counter = 0
    sols = 0
    for i in range(len(all_roots)):
        if all_roots[i].imag <= 10e-13 and all_roots[i].imag >= -10e-13:
            sols = all_roots[i].real
            counter += 1
    if counter != 1:
        print('Something seems wrong with the partial presure to Saturation cubic solver as not one solution is returned.')
    return sols
 
for i in range(len(df['Saturation'])):
    root_temp = None
    sols = 0
    root_temp = np.roots([1,0,150,23400*df.loc[i,'Saturation']/(df.loc[i,'Saturation']-1)]) #gives mmHg , *133.322
    sols = check_imag_roots_real(root_temp) 
    #sols = sols*133.322 ###Remove this step if want in mmHg
    df.loc[i,'partial pressure blood(mmHg)'] = sols

#### Calculate wall thickness
Will take my vessel average partial pressure to be the 0.5(pin + pout)  
All units were in mm so i played around with this equation from the paper  
Equations are taken from Payne paper

In [6]:
#all units were in mm so i played around with this equation from the paper
df['X-Area wall(mm^2?)'] = np.pi * ( 0.16*(df['Diameter(µm)'])**2 + 1.4*(df['Diameter(µm)']) + 14 )
df['wall thickness(µm)'] = ( -(df['Diameter(µm)']) + np.sqrt((df['Diameter(µm)'])**2 + (4*(df['X-Area wall(mm^2?)'])/np.pi)) ) / 2

#### Calculate partial pressure in tissue
Equations can be found on the week 1 or 2 notes from class. From steady state version of something on the paper

In [7]:
df['tissue partials(mmHg)'] = df['partial pressure blood(mmHg)'] - M * df['Vt'] * df['wall thickness(µm)'] / (2 * np.pi * K * (df['Diameter(µm)']/2) * df['Length(µm)'])

#### Pull out the baseline conditions

In [8]:
df_base = df

## Altering p_tot

Above is the normal model. Now i will take whatever parts are useful and run again for my new pressure drops.

#### For Attention List:
1. Can i imporve the resistance calculating bit?
2.

#### Find Resistance of baseline model

In [9]:
df_base_useful = df_base[['Name',
        'Resistance for Q',  'Vt']]

In [10]:
#Find Total Resistance. C refers to capilaary and each numer refers to an added level or resistance.
C = df_base_useful.loc[6,'Resistance for Q']/2
C_6 = (C + df_base_useful.loc[5,'Resistance for Q'] + df_base_useful.loc[7,'Resistance for Q'])/2
C_65 = (C_6 + df_base_useful.loc[4,'Resistance for Q'] + df_base_useful.loc[8,'Resistance for Q'])/2
C_654 = (C_65 + df_base_useful.loc[3,'Resistance for Q'] + df_base_useful.loc[9,'Resistance for Q'])/2
C_6543 = (C_654 + df_base_useful.loc[2,'Resistance for Q'] + df_base_useful.loc[10,'Resistance for Q'])/2
C_65432 = (C_6543 + df_base_useful.loc[1,'Resistance for Q'] + df_base_useful.loc[11,'Resistance for Q'])/2
C_654321 = C_65432 + df_base_useful.loc[0,'Resistance for Q'] + df_base_useful.loc[12,'Resistance for Q']
R_total = C_654321

#Proves for the baseline conditions that it gives the right total flow from my resitance calcs.
#34.18 is pressure drop
Q_total = 34.18 / C_654321
print(Q_total)

27.848258609370426

#### Calculates Total flow for each pressure drop.

In [11]:
pressure_out = 60 - 34.18 # a constant in my model

no_steps = 100

#we vary by plus and minus 50%
main = pd.DataFrame({'Pressure in(mmHg)': np.linspace((60-34.18/2),(60+34.18/2), num=no_steps), 'Pressure out(mmHg)': np.zeros(no_steps) + pressure_out})
main['pressure drop (mmHg)'] = main['Pressure in(mmHg)'] - main['Pressure out(mmHg)']
main['Total Flow'] = main['pressure drop (mmHg)']/R_total

def add_vessel_flow():
    C = pd.DataFrame({'Flow': main['Total Flow'] / df.loc[6,'Number']})
    
    return vessel

#Do for C first
C = pd.DataFrame({'Flow': main['Total Flow'] / df.loc[6,'Number']})
C['dS'] = df.loc[6,'Vt'] * M / (cHb * H * C['Flow'])

C

        Flow        dS
0   0.217565  1.330979
1   0.221960  1.304623
2   0.226355  1.279291
3   0.230750  1.254923
4   0.235145  1.231467
..       ...       ...
95  0.635113  0.455941
96  0.639508  0.452807
97  0.643903  0.449716
98  0.648298  0.446668
99  0.652694  0.443660

[100 rows x 2 columns]

In [12]:
main.head(5)

   Pressure in(mmHg)  Pressure out(mmHg)  pressure drop (mmHg)  Total Flow
0          42.910000               25.82             17.090000   13.924129
1          43.255253               25.82             17.435253   14.205425
2          43.600505               25.82             17.780505   14.486720
3          43.945758               25.82             18.125758   14.768016
4          44.291010               25.82             18.471010   15.049311

In [13]:
multiple_dataframes = pd.DataFrame([main,C])

In [14]:
multiple_dataframes.iloc[0,0]

    Pressure in(mmHg)  Pressure out(mmHg)  pressure drop (mmHg)  Total Flow
0           42.910000               25.82             17.090000   13.924129
1           43.255253               25.82             17.435253   14.205425
2           43.600505               25.82             17.780505   14.486720
3           43.945758               25.82             18.125758   14.768016
4           44.291010               25.82             18.471010   15.049311
..                ...                 ...                   ...         ...
95          75.708990               25.82             49.888990   40.647206
96          76.054242               25.82             50.234242   40.928501
97          76.399495               25.82             50.579495   41.209797
98          76.744747               25.82             50.924747   41.491092
99          77.090000               25.82             51.270000   41.772388

[100 rows x 4 columns]